.create-note {
  margin: 30px;
}

h2 {
  color: #3366ff;
  font-size: 32px;
  font-weight: 600;
}

form {
  margin: 10px;
}

.title, .content, .field {
  margin: 10px;
}

label {
  font-size: 18px;
  padding: 10px;
}

.field input {
  font-size: 18px;
  width: 300px;
  height: 20px;
}

.content textarea {
  font-size: 18px;
  width: 600px;
  height: 200px;
}

.submit {
  margin-left: 20px;
  margin-right: 20px;
}

.submit button {
  font-size: 18px;
}
