<div class="create-note">
  <h2>Создать заметку</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="title">
      <label for="title">Заголовок:</label>

      <div class="field">
        <input formControlName="title" type="text" name="title" id="title" required />
      </div>
    </div>

    <div class="content">
      <label for="content">Заметка:</label>

      <div class="field">
        <textarea formControlName="content" name="content" id="content" required></textarea>
      </div>
    </div>

    <div class="submit">
      <button type="submit" [disabled]="form.invalid">Создать</button>
    </div>
  </form>
</div>
