<a routerLink="create" class="create">
  <div class="button">
    <span>Создать заметку</span>
  </div>
</a>

<ul class="notes">
  <a [routerLink]="['/note', note.id]" routerLinkActive="selected" *ngFor="let note of notes$ | async">
    <li>
      <div class="button">
        <span class="title">{{ note.title }}</span>
      </div>
    </li>
  </a>
</ul>
