:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

a.create:hover .button, .selected .button {
  background-color: #3366ff;
  color: white;
}

.notes {
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
